<launch>

  <arg name="robot_name"                  default="px100"/>
  <arg name="arm_operating_mode"          default="position"/>
  <arg name="arm_profile_velocity"        default="131"/>
  <arg name="arm_profile_acceleration"    default="15"/>
  <arg name="use_pid_cntlrs"              default="true"/>
  <arg name="use_actual"                  default="false"/>
  <arg name="use_fake"                    default="true"/>
  <arg name="use_node"                    default="true"/>

  <include file="$(find interbotix_xsarm_moveit)/launch/xsarm_moveit.launch">
    <arg name="robot_model"                value="$(arg robot_name)"/>
    <arg name="use_actual"                value="$(arg use_actual)"/>
    <arg name="use_fake"                  value="$(arg use_fake)"/>
    <arg name="dof"                       value="4"/>
  </include>

    
  <node if="$(arg use_node)"
    name="RobotPX"
    pkg="arm"
    type="pick_and_place.py"
    respawn="true"
    output="screen"
    ns="$(arg robot_name)">
    <param name="robot_name" value="$(arg robot_name)"/>
    <param name="dof" value="4"/>
    <remap from="/attached_collision_object" to="/$(arg robot_name)/attached_collision_object"/>
    <remap from="/collision_object" to="/$(arg robot_name)/collision_object"/>
  </node>

  <include file="$(find arm)/launch/candle.launch"/>

</launch>
