<launch>

  <arg name="use_real"                    default="false" doc="use uctual robotic arm PX100"/>
  <arg name="use_fake"                    default="false" doc="use use fake node(No gazebo)"/>
  <arg name="use_node"                    default="true"  doc="use manipulation node"/>
  <arg name="use_gazebo"                  default="false" doc="use gazebo"/>
  <arg name="open_rviz"                   default="false" doc="open rviz arm config"/>

  <include file="$(find interbotix_xsarm_moveit)/launch/xsarm_moveit.launch">
    <arg name="robot_model"               value="px100"/>
    <arg name="use_actual"                value="$(arg use_real)"/>
    <arg name="use_fake"                  value="$(arg use_fake)"/>
    <arg name="use_gazebo"                value="$(arg use_gazebo)"/>
    <arg name="dof"                       value="4"/>
    <arg name="rviz_frame"                value="world"/>
    <arg name="use_moveit_rviz"           value="$(arg open_rviz)"/>
  </include>

    

  <group if="$(arg use_node)">
    <include file="$(find arm)/launch/pick_and_place.launch"/>
  </group>

</launch>
