<launch>

  <!-- REMOVE THIS  -->
  <!-- REMOVE THIS  -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="bind_broadcasadfsster2" args="0 0 0 0 0 0 1 map odom 100" /> -->
  <!-- <param name="debug_mode" value="True" /> -->
  <!-- REMOVE THIS  -->
  <!-- REMOVE THIS  -->


<!-- LAUNCH everything we need for the building robot -->

<!-- roslaunch builder launch_builder.launch use_navi:=True use_real:=True open_rviz:=True -->

  <!-- Arguments -->
  <arg name="use_fake"                  default="false"  doc="use fake node"/>
  <arg name="use_real"                  default="false"  doc="use real robot"/>
  <arg name="use_gazebo"                default="false"  doc="use Gazebo Simulation"/>
  <arg name="open_rviz"                 default="false"  doc="open Rviz.... "/>
  <arg name="use_navi"                  default="false"   doc="use my navigation node "/>
  <arg name="use_loca"                  default="false"   doc="use localization node "/>
  <arg name="map"                       default="map" doc="set map name"/>
  

  <!-- Use Static Transforms -->
  <node pkg="tf" type="static_transform_publisher" name="bind_world_map" args="0.4 0 0 0 0 1 0 world map 100" />
  <node pkg="tf" type="static_transform_publisher" name="bind_foot_reverse" args="0 0 0 0 0 1 0 base_footprint base_footreverse 100" />


  <!-- Use Gazebo node -->
  <include if="$(arg use_gazebo)" file="$(find builder)/launch/launch_gazebo.launch"/>

  <!-- Use fake node -->
  <group if="$(arg use_fake)">
    <include if="$(arg use_fake)" file="$(find builder)/launch/bring_up_fake.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="bind_map_odom" args="0 0 0 0 0 0 1 map odom 100" />
  </group>
  
  <!-- Use real robot -->
  <group if="$(arg use_real)">
    <include file="$(find builder)/launch/bring_up_real.launch"/>
  </group>


  <!-- LOCALIZATION AND MAP -->
  <include if="$(arg use_loca)" file="$(find builder)/launch/localization.launch">
      <arg name="map" value="$(arg map)"/>
  </include>



  <!-- Use Path Planing -->
  <node  if="$(arg use_navi)" pkg="builder" type="path_plan.py" name="Path_Planning" output="screen"/>

  <!-- Use Navigation Movement -->
  <node if="$(arg use_navi)" pkg="builder" type="navigate.py" name="Navigate"     output="screen"/>


  <!-- Open Rviz -->
  <node if="$(arg open_rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find builder)/config/builder.rviz" />

</launch>
