<launch>

<!-- TURTLEBOT TO NAVIGATE AT A KNOWN ENVIROMENT -->

  <arg name="use_fake"                  default="True" doc="use simulation turtle"/>
  <arg name="use_real"                  default="false" doc="use use real turtle robot"/>
  <arg name="use_loca"                  default="false" doc="use localization node "/>
  <arg name="use_navi"                  default="false" doc="use navigation node "/>
  <arg name="map"                       default="map_lab_floor" doc="set map name"/>
  
  <arg name="map_file"                  value="$(find builder)/maps/$(arg map).yaml"/>

  <!-- Use Gazebo -->
    <include if="$(arg use_fake)" file="$(find builder)/launch/bring_up_fake.launch">
    </include>

  <!-- Use Navigation(for localize) package -->
  <include if="$(arg use_loca)" file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file"                value="$(arg map_file)"/>
  </include>

  <!-- Use Navigation Movement -->
  <node  if="$(arg use_navi)" pkg="builder" type="navigate.py" name="navigate"     output="screen">
  </node>

  <node  if="$(arg use_navi)" pkg="builder" type="path_plan.py" name="Path_Planning"     output="screen">
  </node>

</launch>
