<launch>

<!-- USE TURTLEBOT SLAM ON GAZEBO -->


  <arg name="use_fake"                  default="false"/>
  <arg name="use_real"                  default="false"/>
  <arg name="open_rviz"                 default="false"/>
  <arg name="use_navi"                  default="true"  doc="use my navigation node "/>

  <!-- Use fake node -->
  <group if="$(arg use_fake)">
    <include if="$(arg use_fake)" file="$(find builder)/launch/bring_up_fake.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="bind_broadcaster1" args="0.4 0 0 0 0 1 0 world map 100" />
    <node pkg="tf" type="static_transform_publisher" name="bind_broadcaster2" args="0 0 0 0 0 0 1 map odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="bind_broadcaster3" args="0 0 0 0 0 1 0 base_footprint base_footreverse 100" />
  </group>
  
  <!-- USE REAL TURTLE -->
  <group if="$(arg use_real)">
    <node pkg="tf" type="static_transform_publisher" name="bind_broadcaster1" args="0.4 0 0 0 0 1 0 world map 100" />
    <node pkg="tf" type="static_transform_publisher" name="bind_broadcaster3" args="0 0 0 0 0 1 0 base_footprint base_footreverse 100" />

    <include file="$(find builder)/launch/bring_up_real.launch"/>
  </group>



  <!-- Use Path Planing -->
  <node  if="$(arg use_navi)" pkg="builder" type="path_plan.py" name="Path_Planning" output="screen"/>

  <!-- Use Navigation Movement -->
  <node if="$(arg use_navi)" pkg="builder" type="navigate.py" name="Navigate"     output="screen"/>


  <!-- Open Rviz -->
  <node if="$(arg open_rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find brain)/rviz/allTogether.rviz" />

</launch>
