<launch>

  <arg name="use_fake"     default="false" doc ="use fake nodes"/>
  <arg name="use_real"     default="false" doc ="use real robots!"/>

  <param name="debug_mode" value="true" />


  <include file="$(find arm)/launch/bring_up.launch">
    <arg name="use_fake"               value="$(arg use_fake)"/>
    <arg name="use_real"               value="$(arg use_real)"/>
  </include>


  <include file="$(find builder)/launch/slamming.launch">
    <arg name="use_fake"           value="$(arg use_fake)"/>
    <arg name="use_real"           value="$(arg use_real)"/>
    <arg name="use_navi"           value="false"/>
    <arg name="open_rviz"          value="false"/>
  </include>


    <!-- Use BRAIN NODE -->
  <!-- <node pkg="brain" type="smiley_face.py" name="brain"     output="screen"/> -->

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find brain)/rviz/allTogether.rviz" />


</launch>
